.card {
    transition: 0.3s;
}

.card:hover {
    box-shadow: 5px 10px rgb(40, 44, 49);
    border-radius: 6px !important;
    transform: translate(-5px, -5px);
}

h5, h6, p, a {
    font-weight: bold !important;
    text-decoration: none !important;
}

h5 { font-size: 22px !important }
h6 { font-size: 18px !important }
p { font-size: 16px !important }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}